apiVersion: v1
kind: Secret
metadata:
  name: super-market-secrets
  namespace: super-market
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: "change_me"
  MYSQL_APP_PASSWORD: "change_me"
  REDIS_PASSWORD: "change_me"
  JWT_SECRET: "change_me"
  MINIO_ROOT_PASSWORD: "change_me"
  MINIO_ROOT_USER: "admin"
  NACOS_USERNAME: "nacos"
  NACOS_PASSWORD: "change_me"
